@{
    ViewData["Title"] = "Home Page";
}


<body class="header-collapse">



    <main class="main-content">
        <div class="hero hero-slider">
            <ul class="slides">
                <li data-bg-image="~/WebbAplication/dummy/slide-1.jpg">
                    <div class="container">
                        <h2 class="slide-title">Place the header here</h2>
                        <p class="slide-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <br> totam rem aperiam eaque ipsa quae ab illo inventore veritatis.</p>
                        <a href="~/WebAplication/#" class="button">Read more</a>
                    </div>
                </li>
                <li data-bg-image="~/WebbAplication/dummy/slide-2.jpg">
                    <div class="container">
                        <h2 class="slide-title">Place the slide 2 header here</h2>
                        <p class="slide-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <br> totam rem aperiam eaque ipsa quae ab illo inventore veritatis.</p>
                        <a href="~/WebAplication/#" class="button">Read more</a>
                    </div>
                </li>
                <li data-bg-image="~/WebbAplication/dummy/slide-3.jpg">
                    <div class="container">
                        <h2 class="slide-title">Place third slide header here</h2>
                        <p class="slide-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <br> totam rem aperiam eaque ipsa quae ab illo inventore veritatis.</p>
                        <a href="~/WebAplication/#" class="button">Read more</a>
                    </div>
                </li>
            </ul>
        </div> <!-- .hero-slider -->

        <div class="fullwidth-block">
            <div class="container">
                <h2 class="section-title">Welcome to our website</h2>
                <p class="section-desc">A company with quality services and we provide transparency and safety to our customers' vehicles..</p>

                <div class="row">

                    <div class="counter">
                        <img src="~/WebAplication/images/icon-car.png" class="counter-icon">
                        <h3 class="counter-num">1500</h3>
                        <small class="counter-label">car repaired</small>
                    </div>


                    <div class="counter">
                        <img src="~/WebAplication/images/icon-wrench.png" class="counter-icon">
                        <h3 class="counter-num">5000</h3>
                        <small class="counter-label">diagnoses</small>
                    </div>


                    <div class="counter">
                        <img src="~/WebAplication/images/icon-gears.png" class="counter-icon">
                        <h3 class="counter-num">6000</h3>
                        <small class="counter-label">gears changed</small>
                    </div>


                    <div class="counter last">
                        <img src="~/WebAplication/images/icon-oil.png" class="counter-icon">
                        <h3 class="counter-num">1200</h3>
                        <small class="counter-label">oil litres used</small>
                    </div>

                </div>
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->

        

        

        

    </main> <!-- .main-content -->


    <footer class="site-footer">
        <div class="container">
            <div class="subscribe-form">
                <form action="#">
                    <input type="text" placeholder="Enter your email to subscribe...">
                    <button type="submit"><img src="~/WebAplication/images/icon-envelope-white.png" alt=""></button>
                </form>
            </div>
            <div class="copy">
                <p>Copyright 2021 AutoRepair. Designed by Erick Avellar. All rights reserved.</p>
            </div>
        </div>
    </footer> <!-- .site-footer -->


    <script src="~/WebAplication/js/jquery-1.11.1.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="~/WebAplication/js/plugins.js"></script>
    <script src="~/WebAplication/js/app.js"></script>


</body>

