
@{
    ViewData["Title"] = "NotAuthorized";
}

<head>
    <link href="https://codepen.io/lsgrrd/pen/BObbYY" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/NotAuthorized/css/style.css" />
</head>
<body>
    <div id="app">
        <div>403</div>
        <div class="txt">
            Forbidden<span class="blink">_</span>
        </div>
    </div>
</body>

